<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/antOGo81"target="_blank" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>

        <li><a href="contact.html#" class="icon circle fa-envelope"><span class="label">EMail</span></a></li>

        <li><a href="https://github.com/eusegone"target="_blank" class="icon circle fa-github-alt"><span class="label">Github</span></a></li>
        
        <li><a href="https://linkedin.com/in/eusebiogoncalves"target="_blank" class="icon circle fa-linkedin"><span class="label">LinkedIn</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Antonio E Goncalves</li>
    </ul>

</footer>