<!-- Footer -->
<footer id="footer">

    <ul class="icons">
        <li><a href="https://twitter.com/antOGo81"target="_blank" class="icon circle fa-twitter"><span class="label">Twitter</span></a></li>

        <li><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#103;&#111;&#110;&#99;&#97;&#108;&#118;&#101;&#117;&#115;&#101;&#98;&#105;&#111;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" class="icon circle fa-envelope"><span class="label">EMail</span></a></li>

        <li><a href="https://github.com/eusegone"target="_blank" class="icon circle fa-github-alt"><span class="label">Github</span></a></li>
        
        <li><a href="https://linkedin.com/in/eusebiogoncalves"target="_blank" class="icon circle fa-linkedin"><span class="label">LinkedIn</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; Antonio E Goncalves</li>
    </ul>

</footer>